# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.a
*.dylib
*.DS_Store
.idea

# Test binary, built with `go test -c`
*.test
*.dat

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
